.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
   transform: translate(-3%, 3%) scale(1.5) rotate(5deg);
}

.grid-main-heading .gallery{
   
    margin: none;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
} 

.form-group{
    min-width: 32rem;
    flex: 1 1 40rem;;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}


.form-group input:focus,
.form-group textarea:focus{
box-shadow: 0rem 0rem 1rem 0.2rem greenyellow;
}


.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background:  var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--gray-color); 
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer p{
    margin: 0;
    padding: 3rem;
}

@media (max-width: 80rem) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }
    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }

}

