.grid-one-content{
display: flex;
flex-flow: column wrap;
justify-content: center;
min-height: 100vh;

}

.grid-main-heading{
margin-bottom: 5rem;
margin-top: -20rem;
}

.grid-description{
    padding-bottom: 10rem;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 4rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -1.5rem;
    left: 0;
    transform: rotate(5deg);

}

