.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.2rem solid var(--gray-color);
}
.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a
{
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    font-family: font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
}

.menu ul li a::after {
content: '';
position: absolute;
bottom: 1rem;
left: 15%;
width: 0;
height: 0.2rem;
background: red;
transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after{
    width: 70%;
    left:
}

.menu-spacing{
    height: 4rem;
}


.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}